body{
    background-color: #121212;
    text-align: center;
    margin-top: 25%;
    margin-left: 45%;
}

#kolmio{
    width: 150px;
    height: 150px;
    border: 2px solid #ffffff;
    transform: rotate(45deg);
    order: 2;
}

#kuutio{
    position: relative;
    margin-top: -78px;
    margin-left: -31px;
    width: 215px;
    height: 145px;
    background-color: #121212;
    border-top: 2px solid #ffffff;
    order: 1;
}